openai
python-dotenv
langchainhub
pydualsense
langchain
langchain_openai
langchain_community
langchain_experimental
Pillow
pygame
requests
SpeechRecognition
pyaudio
pvporcupine
PvRecorder
pylx16a
paho-mqtt
escpos
arrow
audio-slicer
structlog
numpy
pveagle
pveagledemo
lgpio
gpiozero
lirc
adafruit-circuitpython-servokit
unidecode
mcpq


